a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0},* html .clearfix{height:1%}.clearfix{display:block}

html {
    font-size: 62.5%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
}
h1 {
    font-size: 4em;
    line-height: 1em;
    color: #e71e2f;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
    line-height: 18px;
}
h4 {
    font-size: 18px;
    line-height: 16px;
    font-weight: 400;
}
hr {
    clear: both;
    border-top: 0;
    border-left: 0;
    border-bottom: 1px dashed #e4e4e4;
    height: 0;
    width: 100%;
    margin: 25px 0;
}
p {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.5em;
}
a {
    text-decoration: none;
    color: #777;
}
title {
    background-color: #fff;
    color: #cf212d;
    font-size: 18px;
    border:none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
input[type=search], input[type=text], textarea {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
    color: #777;
    letter-spacing:normal;
    background-color: #fbfbfb;
    height:40px;
}
#header-panel {
    background-color: #e71e2f;
    z-index: 10;
    width: 100%;
    height: auto;
    padding-bottom: 8px;
    top: 0;
    position: fixed;
    text-align: center;
}
#branding {
    margin-left: 3%;
    float: left;
}
#logo {
    display: inline-flex;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#logo:hover {
    opacity:0.95;
}
#logo #icon {
    display: none;
    margin-top: 10px;
    width: 42px;
    height: 42px;
}
#logo #word-mark {
    margin-top: 7px;
    width:175px;
    height:45px;
}
#search-panel {
    width: 100%;
    padding: 0;
    top:0;
    position:relative;
}
#branding, #menu {
    display: inline-table;
    vertical-align: middle;
}
#text {
    border: 1px solid #e1e1e1;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    height: 55px;
    font-size: 21px;
    letter-spacing: 0.5px;
    text-align: center;
    
    -webkit-appearance:searchfield;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
#text:focus {
    border: 1px solid red;
}
#text::-webkit-input-placeholder {
    color: #aaa;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 0;
}
#text::-moz-placeholder {
    color: #aaa;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 0;
}
#text::-ms-input-placeholder {
    color: #aaa;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 0;
}
#menu {
    margin-top: 12px;
    margin-right: 3%;
    float:right;
}
.btn {
    border: none;
    padding: 0;
    vertical-align:middle;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    cursor: pointer;
    opacity:0.95;
}
.search {
	background: url(../img/search-btn.png) no-repeat;
	background-size: contain;
	height: 30px;
    width: 30px;
    margin-right:5px;
}
.add {
	background: url(../img/submit-btn.png) no-repeat;
	background-size: contain;
	height: 37px;
    width: 37px;
    margin-right:10px;
}
.menu {
	background: url(../img/menu-btn.png) no-repeat;
	background-size: contain;
	height: 35px;
    width: 35px;
    margin-top:5px;
}
#topic-list {
    width: 250px;
    height: 100%;
    text-align: center;
    margin: 0;
    position: fixed;
    right: -250px;
    top: 0;
    background-color: #e71e2f;
    overflow-y: auto;
    box-shadow: 2px 0 10px 0 #b31f28 inset;
}
#topic-list li {
    padding: 0;
    border-bottom: 1px dashed #cf212d;
}
#topic-list li>a>h4 {
    line-height: 50px;
    letter-spacing: .5px;
    font-weight: 100;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
}
#topic-list li:nth-child(1) {
    border-top: 1px solid #b31f28;
}
#topic-list a {
    color: #fff;
}
#topic-list li:hover {
    background-color: #cf212d;
    box-shadow: inset 5px 0 0 0 #b31f28;
}
#topic-list a:hover {
    color: #fff;
}
#banner-panel {
	position: relative;
}
#banner {
	height:400px;
	width:100%;
	padding-top:75px;
	background-image:url(../img/9070517966_5b29f43111_k.jpg);
	background-size:cover;
    background-position: center;
	text-align:center;
}
#banner h1 {
	color:#e71e2f;
	font-size:42px;
	font-weight:600;
	font-family:'Source Sans Pro', 'Franklin Gothic', Arial, sans-serif;
}
#banner h2 {
	color:#e71e2f;
	font-weight:100;
	font-size:21px;
	width:475px;
	margin-top:20px;
	margin:10px auto 0 auto;
}
#explore {
	border: 1px solid;
    background-color: #e71e2f;
    background-image: linear-gradient(#e3262e, #ab171e);
    border-bottom-color: #820a0f;
	border-left-color: #9a1015;
	border-right-color: #9a1015;
	border-top-color: #af151b;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    padding: 0;
    margin: 80px 5% 1%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 55px;
    width: 300px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.11);
    font: 400 21px 'Source Sans Pro', Helvetica, Arial, sans-serif;
    letter-spacing:0.2px;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#explore:hover {
    opacity: 0.95;
    cursor: pointer;
}
.share {
	height:26px;
	vertical-align:middle;
}
.fb-share-button {
	background-color:rgba(255,255,255,0.3);
	margin-right:15px;
	
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding:3px;
}
.twitter-share-button {
	background-color:rgba(255,255,255,0.3);
	
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding:3px;
}
#main-panel {
    height: 100%;
    min-height: 300px;
    width: auto;
    padding: 0 0 2% 3%;
    margin-top: 30px;
    overflow-y: auto;
    position: relative;
    z-index: 0;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    background-color: transparent;
}
#main-panel h1 {
    margin-left: 0;
    font:400 30px 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    width: 100%;
    color:#e71e2f;
    margin-bottom: 30px;
    text-align: center;
}
#main-panel #link-overlay {
    float: left;
}
#main-panel #link-overlay:hover {
    opacity: .85;
}
#link-display {
    width: 87%;
    margin-left: auto;
    margin-right: auto;
}
#link-display #link-overlay {
    width: 250px;
    height: 425px;
    padding: 0 0 20px;
    margin: 5px;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 4px;
    position: relative;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#link-display #link-overlay img {
    width: 250px;
    height: 225px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px 4px 0 0;
}
#link-display h3 {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
#link-display h3, p {
    margin: 4%;
}
#link-display p {
    max-height: 110px;
    overflow: hidden;
    color: #999;
}
#link-display #link-overlay hr {
    position: absolute;
    bottom: 10px;
}
#link-display #link-overlay #tags {
    color: #f22613;
    position: absolute;
    font-size: 14px;
    bottom: 10px;
    left: 20px;
}
#link-display #featured {
	font-size:21px;
	background-color:#e71e2f;
	width:100%;
	height:25px;
	margin-top:-2px;
	padding:5px 0;
	text-align:center;
	color:#fff;
	font-weight:100;
	letter-spacing:0.3px;
}
#link-display #result-msg {
    font-size: 21px;
    margin-top: 20px;
    text-align: center;
    color: #e71e2f;
}
#link-display #result-msg>a {
    color: #cf212d;
}
#more {
    border: none;
    background-color: #e71e2f;
    color: #fff;
    padding: 0;
    margin: 15px 5% 1%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 50px;
    width: 90%;
    font: 400 21px 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
#more:hover {
    opacity: 0.9;
    cursor: pointer;
}
#submit-panel {
    width: 100%;
    height:100%;
}
#submit-display {
    width: 100%;
    height:100%;
    background-color: rgba(231,30,47,0.9);
    z-index:2000;
    position:fixed;
    border-radius:0;
    top:0;
    left:0;
}
#submit-display #close {
	position:fixed;
	top:0;
	right:0;
	margin:10px;
	cursor:pointer;
}
#submit-display form {
	margin-left: auto;
    margin-right: auto;
    margin-top:45px;
    min-width:340px;
    max-width:480px;
    width:50%;
    height: auto;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 7px;
    position: relative;
    padding:15px 0 10px 0;
    background-color:#fff;
    text-align: center;
}
#submit-display h1 {
	font-weight:600;
	font-size:30px;
	margin: 0 0 20px 0;
}
#submit-display hr {
	margin: 15px 0 0 0;
}
#submit-display select {
	width:90%;
	margin: 5px 5%;
	font-size:16px;
	text-align:center;
	background:transparent;
	border: 1px solid #e1e1e1;
	color:#e71e2f;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
#submit-display textarea {
	resize:none;
	height:65px;
	padding-top:10px;
	overflow:none;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    -webkit-appearance:textarea;
}
#submit-btn {
    border: none;
    background-color: #e71e2f;
    color: #fff;
    margin: 15px 5%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 50px;
    width: 90%;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    font: 400 21px 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
#submit-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
.submit {
    border: 1px solid #e1e1e1;
    width: 85%;
    height: 40px;
    margin: 5px 5%;
    padding: 0 10px;
    font-size: 16px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.submit:focus {
    border: 1px solid red;
}
#register-display {
    margin-left: auto;
    margin-right: auto;
    min-width:380px;
    max-width:480px;
    width:50%;
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 7px;
    position: relative;
    padding:15px 0 10px 0;
    
}
#register-display h1 {
	font-weight:600;
	margin: 0 0 20px 0;
}
#register-display hr {
	margin: 25px 0 5px 0;
}
#register-btn {
    border: none;
    background-color: #e71e2f;
    color: #fff;
    margin: 15px 5%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 50px;
    width: 90%;
    font: 400 21px 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
#register-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
@media only screen and (max-width:1180px) {
    #link-display {width: 94%;}
}
@media screen and (max-width:950px) {
    #main-panel {height: auto;width: auto;}
    #main-panel #link-display {display: block;}
    #main-panel h1 {width: 100%;margin-bottom: 20px;text-align: center;}
    #post-display {margin: 6% 0.1%;}
    #link-display {width: 90%;}
}
@media only screen and (max-width:898px) {
    #link-display {width: 75%;}
}
@media screen and (max-width:780px) {
    #banner h2 {width:300px;}
}
@media screen and (max-width:705px) {
    #link-display {width: 80%;}
}
@media screen and (max-width:655px) {
    #link-display {width: 85%;}
}
@media screen and (max-width:617px) {
    #link-display {width: 90%;}
    #logo #word-mark {display: none;}
    #logo #icon {display: block;}
}
@media screen and (max-width:590px) {
    #header-panel {padding-left: 0.5%;padding-right: 0.5%;}
    #footer {display: none;}
    #link-display {width: 60%;}
    #banner h1 {font-size:30px;}
}
@media screen and (max-width:587px) {
    #link-display {width: 50%;}
}
@media screen and (max-width:532px) {
    #link-display {width: 60%;}
    #header-panel {padding-bottom: 8px;}
    #branding {margin-left:2%;}
}
@media screen and (max-width:440px) {
    #main-panel {padding: 4% auto 0;}
    #menu {margin-top: 12px;}
    #link-display {width:70%;} 
}
@media screen and (max-width:340px) {
    #link-display {width: 87%;}
}